.icon-design::before {
   font-family: icomoon;
   content: "\e90e";
}

.icon-photo::before {
   font-family: icomoon;
   content: "\e90f";
}

.icon-video::before {
   font-family: icomoon;
   content: "\e914";
}

.icon-pencil::before {
   font-family: icomoon;
   content: "\e905";
}

.icon-code::before {
   font-family: icomoon;
   content: "\ea80";
}

.icon-app::before {
   font-family: icomoon;
   content: "\e958";
}

.icon-right::after {
   font-family: icomoon;
   content: "\ea3c";
}

.icon-down::before {
   font-family: icomoon;
   content: "\ea3e";
}

.icon-download::before {
   font-family: icomoon;
   content: "\e9c5";
}

.icon-facebook::before {
   font-family: icomoon;
   content: "\ea91";
}

.icon-twitter::before {
   font-family: icomoon;
   content: "\ea96";
}

.icon-pinterest::before {
   font-family: icomoon;
   content: "\ea93";
}

.icon-vk::before {
   font-family: icomoon;
   content: "\ea98";
}

.icon-insta::before {
   font-family: icomoon;
   content: "\ea92";
}

.icon-backquote::before {
   font-family: icomoon;
   content: "\e978";
}

.icon-up::before {
   font-family: icomoon;
   content: "\ea3a";
}

.icon-location::before {
   font-family: icomoon;
   content: "\e947";
}

.icon-phone::before {
   font-family: icomoon;
   content: "\e942";
}

.icon-mail::before {
   font-family: icomoon;
   content: "\e945";
}

.icon-chat::before {
   font-family: icomoon;
   content: "\e96e";
}