<section class="about section" id="about">
   <div class="container">
       <h2 class="title">about me</h2>
       <div class="about__content">
           <div class="about__column">
               <img src="img/img-man-looking.jpg" alt="img-man-looking" class="about__img">
           </div>
           <div class="about__column">
               <div class="about__type type">Hi there</div>
               <p class="about__text text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio totam
                   tenetur minus dolor eligendi modi iusto quasi sapiente adipisci cum nemo esse, autem sit
                   doloribus nisi tempora ratione assumenda inventore iure.</p>
               <div class="about__contacts">
                   <div class="about__contact">
                       <span>name:</span>
                       <p>Jonathan Doe</p>
                   </div>
                   <div class="about__contact">
                       <span>Email:</span>
                       <p>hello@example.com</p>
                   </div>
                   <div class="about__contact">
                       <span>Phone:</span>
                       <p>+1 908-736-1801</p>
                   </div>
                   <div class="about__contact">
                       <span>Twitter:</span>
                       <p>freelancer9</p>
                   </div>
               </div>
               <div class="about__buttons">
                   <button class="button">
                       <span class="icon-right">Contact me</span>
                       <span class="icon-right">Contact me</span>
                   </button>
                   <button class="button button--outline">
                       <span class="icon-download">Download cv</span>
                       <span class="icon-download">Download cv</span>
                   </button>
               </div>
           </div>
       </div>
   </div>
</section>