<section class="contact section">
   <div class="contact__container container">
      <div class="contact__type type">Get In Touch</div>

      <div class="contact__row">

         <div class="contact__card">
            <div class="contact__card-icon icon-location"></div>
            <div class="contact__card-title">Address</div>
            <div class="text">999 Carter Street</div>
            <div class="text">Sailor Springs, IL 62434</div>
         </div>
         
         <div class="contact__card">
            <div class="contact__card-icon icon-phone"></div>
            <div class="contact__card-title">Phone</div>
            <div class="text">+1 618-689-9409</div>
            <div class="text">+1 781-254-8437</div>
         </div>
         
         <div class="contact__card">
            <div class="contact__card-icon icon-mail"></div>
            <div class="contact__card-title">Email</div>
            <div class="text">hello@example.com</div>
            <div class="text">support@example.com</div>
         </div>
         
         <div class="contact__card">
            <div class="contact__card-icon icon-chat"></div>
            <div class="contact__card-title">Facebook Chat</div>
            <div class="text">me.freelancer3</div>
         </div>
         
      </div>
      
      <div class="contact__row">
         <div class="contact__social">
            <h2 class="contact__title title">Let’s Connect</h2>
            <ul class="contact__social-list">
               <li class="contact__social-item">
                  <a href="#" class="contact__social-link icon-facebook">Facebook</a>
               </li>
               <li class="contact__social-item">
                  <a href="#" class="contact__social-link icon-twitter">twitter</a>
               </li>
               <li class="contact__social-item">
                  <a href="#" class="contact__social-link icon-pinterest">pinterest</a>
               </li>
               <li class="contact__social-item">
                  <a href="#" class="contact__social-link icon-vk">vk</a>
               </li>
               <li class="contact__social-item">
                  <a href="#" class="contact__social-link icon-insta">instagram</a>
               </li>
            </ul>
         </div>

         <form class="contact__form form">
               <h2 class="contact__title title">Send Me a Message</h2>

               <div class="form__row">
                  <div class="form__group">
                     <label for="contactName" class="form__label">Name *</label>
                     <input type="text" class="form__control" id="contactName" placeholder="Name">
                  </div>
                  
                  <div class="form__group">
                     <label for="contactEmail" class="form__label">Email *</label>
                     <input type="text" class="form__control" id="contactEmail" placeholder="Email">
                  </div>
               </div>

               <div class="form__group">
                  <label for="contactSubject" class="form__label">Subject *</label>
                  <input type="text" class="form__control" id="contactSubject" placeholder="Subject">
               </div>

               <div class="form__group">
                  <label for="contactMessage" class="form__label">Message *</label>
                  <textarea type="text" class="form__control form__control--textarea" id="contactMessage" placeholder="Message"></textarea>
               </div>

               <button class="form__btn icon-right">Send a message</button>

         </form>
      </div>

   </div>
</section> 