<section class="portfolio section" id="portfolio">
   <div class="container">
       <h2 class="portfolio__title title">portfolio</h2>
       <div class=" portfolio__content">

           <div class="portfolio__column">

               <div class="portfolio__card">
                   <img src="img/img-work-01.png" alt="pehaz" class="portfolio__card-img">
                   <div class="portfolio__card-content">
                       <span class="text">Branding</span>
                       <h3>pehaz</h3>
                   </div>
               </div>

               <div class="portfolio__card">
                   <img src="img/img-work-02.png" alt="pehaz" class="portfolio__card-img">
                   <div class="portfolio__card-content">
                       <span class="text">Branding</span>
                       <h3>pehaz</h3>
                   </div>
               </div>

               <div class="portfolio__card">
                   <img src="img/img-work-03.png" alt="pehaz" class="portfolio__card-img">
                   <div class="portfolio__card-content">
                       <span class="text">Branding</span>
                       <h3>pehaz</h3>
                   </div>
               </div>

           </div>

           <div class="portfolio__column">

               <div class="portfolio__card">
                   <img src="img/img-work-04.png" alt="pehaz" class="portfolio__card-img">
                   <div class="portfolio__card-content">
                       <span class="text">Branding</span>
                       <h3>pehaz</h3>
                   </div>
               </div>

               <div class="portfolio__card">
                   <img src="img/img-work-05.png" alt="pehaz" class="portfolio__card-img">
                   <div class="portfolio__card-content">
                       <span class="text">Branding</span>
                       <h3>pehaz</h3>
                   </div>
               </div>

           </div>

           <div class="portfolio__column">

               <div class="portfolio__card">
                   <img src="img/img-work-06.png" alt="pehaz" class="portfolio__card-img">
                   <div class="portfolio__card-content">
                       <span class="text">Branding</span>
                       <h3>pehaz</h3>
                   </div>
               </div>

               <div class="portfolio__card">
                   <img src="img/img-work-07.png" alt="pehaz" class="portfolio__card-img">
                   <div class="portfolio__card-content">
                       <span class="text">Branding</span>
                       <h3>pehaz</h3>
                   </div>
               </div>

               <div class="portfolio__card">
                   <img src="img/img-work-08.png" alt="pehaz" class="portfolio__card-img">
                   <div class="portfolio__card-content">
                       <span class="text">Branding</span>
                       <h3>pehaz</h3>
                   </div>
               </div>

           </div>

           <div class="portfolio__column">

               <div class="portfolio__card">
                   <img src="img/img-work-10.png" alt="pehaz" class="portfolio__card-img">
                   <div class="portfolio__card-content">
                       <span class="text">Branding</span>
                       <h3>pehaz</h3>
                   </div>
               </div>

               <div class="portfolio__card">
                   <img src="img/img-work-11.png" alt="pehaz" class="portfolio__card-img">
                   <div class="portfolio__card-content">
                       <span class="text">Branding</span>
                       <h3>pehaz</h3>
                   </div>
               </div>

               <div class="portfolio__card">
                   <img src="img/img-work-09.png" alt="pehaz" class="portfolio__card-img">
                   <div class="portfolio__card-content">
                       <span class="text">Branding</span>
                       <h3>pehaz</h3>
                   </div>
               </div>

           </div>
   </div>
   </div>
</section>