<section class="services section" id="services">
   <div class="container">
       <h2 class="title">My services</h2>
       <div class="services__content">

           <div class="services__card">
               <span class="services__icon icon-design"></span>
               <h3 class="services__subtitle">Web Design</h3>
               <p class="services__text text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                   quisquam labore impedit molestias voluptatum maxime.</p>
               <button class="services__button"></button>
           </div>

           <div class="services__card">
               <span class="services__icon icon-photo"></span>
               <h3 class="services__subtitle">photography</h3>
               <p class="services__text text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                   quisquam labore impedit molestias voluptatum maxime.</p>
               <button class="services__button"></button>
           </div>

           <div class="services__card">
               <span class="services__icon icon-video"></span>
               <h3 class="services__subtitle">Video Editing</h3>
               <p class="services__text text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                   quisquam labore impedit molestias voluptatum maxime.</p>
               <button class="services__button"></button>
           </div>

           <div class="services__card">
               <span class="services__icon icon-pencil"></span>
               <h3 class="services__subtitle">Copy Writing</h3>
               <p class="services__text text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                   quisquam labore impedit molestias voluptatum maxime.</p>
               <button class="services__button"></button>
           </div>

           <div class="services__card">
               <span class="services__icon icon-code"></span>
               <h3 class="services__subtitle">Coding</h3>
               <p class="services__text text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                   quisquam labore impedit molestias voluptatum maxime.</p>
               <button class="services__button"></button>
           </div>

           <div class="services__card">
               <span class="services__icon icon-app"></span>
               <h3 class="services__subtitle">App Developing</h3>
               <p class="services__text text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                   quisquam labore impedit molestias voluptatum maxime.</p>
               <button class="services__button"></button>
           </div>
       </div>
   </div>
</section>