<section class="statistic section">
   <div class="statistic__container container">
       <div class="statistic__item">
           <div class="statistic__num">34</div>
           <div class="statistic__text">Clients</div>
       </div>
       <div class="statistic__item">
           <div class="statistic__num">45</div>
           <div class="statistic__text">Projects</div>
       </div>
       <div class="statistic__item">
           <div class="statistic__num">67</div>
           <div class="statistic__text">Awards</div>
       </div>
       <div class="statistic__item">
           <div class="statistic__num">89</div>
           <div class="statistic__text">Years Experience</div>
       </div>
   </div>
</section>