<section class="testimonials section">
    <div class="testimonials__container container">
        <h2 class="title">testimonials</h2>
        <div class="testimonials__carousel owl-carousel">

            <div class="card">
                <div class="testimonials__card box">
                    <div class="testimonials__card-backquote icon-backquote"></div>
                    <div class="testimonials__card-text text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio eaque quidem
                        aspernatur minus
                        esse, ad corrupti ex porro reprehenderit neque. Doloribus nulla officiis enim, id beatae at dicta?
                        Vitae,
                        quos.</div>
                    <img class="testimonials__card-foto" src="img/person-02.jpg">
                    <div class="testimonials__card-name">John Brown</div>
                    <div class="text">ABC Arhitectors</div>
                </div>
            </div>

            <div class="card">
                <div class="testimonials__card box">
                    <div class="testimonials__card-backquote icon-backquote"></div>
                    <div class="testimonials__card-text text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio eaque quidem
                        aspernatur minus
                        esse, ad corrupti ex porro reprehenderit neque. Doloribus nulla officiis enim, id beatae at dicta?
                        Vitae,
                        quos.</div>
                    <img class="testimonials__card-foto" src="img/person.jpg">
                    <div class="testimonials__card-name">Jane Doe</div>
                    <div class="text">Bristol Stacan</div>
                </div>
            </div>

        </div>
    </div>
</section>